<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block head %}
            <title>Pedro Lopes | Challenge 3</title>
    {% endblock%}

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700;800&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="links">
            <a href="/">About</a>
            <a href="/challenges">Challenges</a>
        </div>
    </header>
    
    {% block content%}{% endblock%}

</body>
</html>