{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/challenges.css">
    <link rel="stylesheet" href="/responsive.css">

    <title>404 | Not Found</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="/404.png" alt="Ghost" id="ghost">
        <h1>This page is a <span>ghost</span></h1>
        <p>Once alive and now dead, this ghost appears to have some unfinished business. Could it be the code on this page? Or with the compassionate programmer from <span>Houston</span> who wrote it.</p>
    </div>
{% endblock%}